<%- include("../partials/header.ejs"); %>

	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Add a new Comment to <%= movieShow.name %>
			</h1>
		</div>

		<div class="col-xs-12 col-md-7 my-4 mx-auto">
			<form class="needs-validation" action="/movies/<%= movieShow._id %>/comments" method="POST" novalidate>

				<div class="form-group mb-5">
					<label for="comment">Your comment</label>
					<textarea id="comment" class="form-control" rows="5" name="comment[text]" required autofocus></textarea>
					<div class="invalid-feedback">
						Please leave a comment in the textarea
					</div>
				</div>

				<div class="form-group">
					<button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
				</div>

			</form>

			<a href="/movies/<%= movieShow._id %>">Go Back</a>

		</div>

	</div>

	<%- include("../partials/footer.ejs"); %>