<%- include("../partials/header.ejs"); %>

	<!-- Here you can see not vary beautiful solution -->
	<% var visibilityDir, visibilityWrit="" ; %>
		<% (movieData['Director']==="N/A" ) ? visibilityDir="hidden" : visibilityDir="visible" %>
			<% (movieData['Writer']==="N/A" ) ? visibilityWrit="hidden" : visibilityWrit="visible" %>

				<div class="row">
					<div class="col-md-12 text-center">
						<h1>Add a Movie</h1>
					</div>
					<div class="col-xs-12 col-md-7 my-25 mx-auto">
						<form class="needs-validation" action="/movies" method="post" novalidate>

							<div class="form-group">
								<label for="title" class="font-weight-bold">Title</label>
								<input id="title" class="form-control" type="text" name="newMovie[title]"
									value="<%= movieData['Title'] %>" autofocus required>
								<div class="invalid-feedback">
									Title is required
								</div>
							</div>

							<div class="form-group">
								<label for="releaseYear" class="font-weight-bold">Release year</label>
								<input id="releaseYear" class="form-control" type="text" name="newMovie[year]"
									value="<%= movieData['Year'] %>" required>
								<div class="invalid-feedback">
									Release year is required
								</div>
							</div>

							<div class="form-group">
								<label for="genre" class="font-weight-bold">Genre</label>
								<input id="genre" class="form-control" type="text" name="newMovie[genre]"
									value="<%= movieData['Genre'] %>" required>
								<div class="invalid-feedback">
									Genre info is required
								</div>
							</div>

							<div class="form-group" <%=visibilityDir %>>
								<label for="director" class="font-weight-bold">Director</label>
								<input id="director" class="form-control" type="text" name="newMovie[director]"
									value="<%= movieData['Director'] %>" required>
								<div class="invalid-feedback">
									Director info is required
								</div>
							</div>

							<div class="form-group" <%=visibilityWrit %>>
								<label for="writer" class="font-weight-bold">Writer</label>
								<input id="writer" class="form-control" type="text" name="newMovie[writer]"
									value="<%= movieData['Writer'] %>" required>
								<div class="invalid-feedback">
									Writer info is required
								</div>
							</div>

							<div class="form-group">
								<label for="cast" class="font-weight-bold">Cast</label>
								<input id="cast" class="form-control" type="text" name="newMovie[cast]"
									value="<%= movieData['Actors'] %>" required>
								<div class="invalid-feedback">
									Cast info is required
								</div>
							</div>

							<div class="form-group">
								<label for="poster" class="font-weight-bold">Poster url</label>
								<input id="poster" class="form-control" type="text" name="newMovie[poster]"
									value="<%= movieData['Poster'] %>" required>
								<div class="invalid-feedback">
									Poster url is required
								</div>
							</div>

							<div class="form-group">
								<label for="imdbRating" class="font-weight-bold">IMDB Rating</label>
								<input id="imdbRating" class="form-control" type="text" name="newMovie[imdbRating]"
									value="<%= movieData['imdbRating'] %>" required>
								<div class="invalid-feedback">
									<a href="https://www.imdb.com/">IMDB</a> rating is required
								</div>
							</div>

							<div class="form-group">
								<label for="imdbID" class="font-weight-bold">IMDB ID</label>
								<input id="imdbID" class="form-control" type="text" name="newMovie[imdbID]"
									value="<%= movieData['imdbID'] %>" required>
								<div class="invalid-feedback">
									Movie <a href="https://www.imdb.com/">IMDB</a> ID is required
								</div>
							</div>

							<div class="form-group mb-5">
								<label for="plot" class="font-weight-bold">Plot</label>
								<textarea id="plot" class="form-control" rows="5" name="newMovie[plot]"
									required><%= movieData['Plot'] %></textarea>
								<div class="invalid-feedback">
									Plot is required
								</div>
							</div>

							<div class=" form-group">
								<button class="btn btn-lg btn-success btn-block" type="submit">Submit</button>
							</div>

						</form>

						<a href="/movies">Go to Movies</a>

					</div>

				</div>


				<%- include("../partials/footer.ejs"); %>